<div class="form-group">
    <p><%= f.label :name, "Nombre" %></p>
    <p><%= f.text_field :name, size: 30 %></p>
</div>
<br />
<div class="form-group">
    <p><%= f.label :kind, "Tipo" %></p>
    <p><%= f.collection_select :kind, ["Frente", "Atras"], :to_s, :to_s %></p>
</div>
<br />
<div class="form-group">
    <p><%= f.label :background, "URL de fondo" %></p>
    <p><%= f.text_field :background, size: 30 %><%= link_to "Cargar Imagen", "http://postimage.org/", target: "_blank" %></p>
</div>
<br />
<div class="form-group">
    <p><%= f.label :description, "Descripcion" %></p>
    <p><%= f.text_field :description, size: 30%></p>
</div>
<br />
<div class="form-group">
    <p><%= f.label :footer, "Pie de catalogo" %></p>
    <p><%= f.text_area :footer, rows: 5, cols: 28 %></p>
</div>
