<div class="form-group">
    <%= f.label :name, "Nombre", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :name, size: 50 %></div>
</div>
<br />
<div class="form-group">
    <%= f.label :kind, "Tipo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.collection_select :kind, ["Frente", "Atras"], :to_s, :to_s %></div>
</div>
<br />
<div class="form-group">
    <%= f.label :description, "Descripcion", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :description, size: 50%></div>
</div>
<br />
<div class="form-group">
    <%= f.label :footer, "Pie de catalogo", class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_area :footer, rows: 5, cols: 48 %></div>
</div>
