<%= image_tag "logo-web.png", class: "center" %>

<div class="jumbotron center" style="width: 40%">
    <div id="errorContainer"></div>
    <%= form_for(@catalog, :remote => true) do |f| %>
        <%= render 'form',  f: f %>
        <div class="buttons-panel">
            <%= f.submit "Actualizar Catalogo", disable_with: "Actualizando Catalogo", class: "btn btn-success" %>
            <%= link_to "Cancelar", catalogs_path, class: "btn btn-danger" %>
        </div>
    <% end %>
</div>