<div class="page">
    <div class="header">
        <%= image_tag "header.png" %>
    </div>
    <div class="catalog-body">
        <div class="title">
            <%= @catalog.name %>
        </div>
        <div class="description">
            <%= @catalog.description %>
        </div>
        <div class="showProducts">
            <% @catalog.products.each_slice(2) do |product1, product2| %>
                <div class="product1">
                    <table class="productContainer">
                        <tr>
                            <tr ><p class="productTitle"><%= product1.name %><span class="productCode">(<%= product1.code %>)</span></p></tr>
                            <tr><p class="productDescription"><%= product1.description %></p></tr>
                            <tr><%= image_tag product1.foto, width: "200px", height: "200px" %></tr>
                            <tr class="priceSection">
                                <span class="productFPrice"><%= number_to_currency product1.initial_price %></span>
                                <span class="productPrice"><%= number_to_currency product1.promotional_price %></span>
                            </tr>
                        </tr>
                    </table>
                </div>
                <div class="product2">
                    <table class="productContainer">
                        <tr>
                            <tr ><p class="productTitle"><%= product2.name %><span class="productCode">(<%= product2.code %>)</span></p></tr>
                            <tr><p class="productDescription"><%= product2.description %></p></tr>
                            <tr><%= image_tag product2.foto, width: "200px", height: "200px" %></tr>
                            <tr><span class="productFPrice"><%= number_to_currency product2.initial_price %></span></tr>
                            <tr><span class="productPrice"><%= number_to_currency product2.promotional_price %></span></tr>
                        </tr>
                    </table>
                </div>
           <% end %>
        </div>
        <div class="footer"><%= @catalog.footer %></div>
    </div>
</div>