<div class="form-group">
    <p><%= f.label :catalog_id, "Catalogo" %></p>
    <p><%= f.collection_select :catalog_id, Catalog.all, :id, :name, {:include_blank=> "Escoja un catalogo"} %></p>
</div>
<div class="form-group">
    <p><%= f.label :name, "Nombre" %></p>
    <p><%= f.text_field :name, size: 30 %></p>
</div>
<div class="form-group">
    <p><%= f.label :code, "Codigo" %></p>
    <p><%= f.text_field :code, size: 30 %></p>
</div>
<div class="form-group">
    <p><%= f.label :description, "Descripcion" %></p>
    <p><%= f.text_area :description, cols: 28, rows: 5 %></p>
</div>
<div class="form-group">
    <p><%= f.label :initial_price, "Precio Inicial" %></p>
    <p><%= f.text_field :initial_price, size: 30 %></p>
</div>
<div class="form-group">
    <p><%= f.label :promotional_price, "Precio Promocional" %></p>
    <p><%= f.text_field :promotional_price, size: 30 %></p>
</div>
<div class="form-group">
    <p><%= f.label :foto, "URL de Imagen" %></p>
    <p><%= f.text_field :foto, size: 30 %><%= link_to "Cargar Imagen", "http://postimage.org/" %></p>
</div>